body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    background-color: #eee;
    line-height: 1.6;
    font-weight: 300;
    min-height: 2000px;
}

.container{
    width: 80%;
    margin: auto;
}

.typography{
    display: flex;
    margin: 0 0.5em;
    padding: 0 0.5em;
}

.col-em h2{
    /* 2em artinya 2 kali ukuran font elemen parentnya */
    font-size: 2em;
}

.col-em h1{

}